<p id="notice"><%= notice %></p>

<h1>
  <%= @project.name %>
</h1><hr/>

<p>
  <b>Description:</b>
  <%= @project.description %>
</p>

<p>
  <b>Client:</b>
  <%= @client.name %>
</p>

<table>
  <tr>

    <th>Title</th>

    <th>Parent</th>
    <th>Order</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @pages.each do |page| %>
  <tr>

    <td><%= page.title %></td>

    <td><%= page.parent %></td>
    <td><%= page.order %></td>
    <td><%= link_to 'Show', client_project_page_path(@client, @project, page) %></td>
    <td><%= link_to 'Edit', edit_client_project_page_path(@client, @project, page) %></td>
    <td><%= link_to 'Destroy', client_project_page_path(@client, @project, page), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<p><%= link_to "Agregar nueva página...", new_client_project_page_path(@client, @project) %></p>


<%= link_to 'Edit', edit_client_project_path(@client, @project) %> |
<%= link_to 'Back', client_projects_path(@client) %>
